includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 8

    paths:
        # Global project scan
        - bin/
        - config/
        - public/
        - src/
        - tests/Unit/

        # ===== Entities =====
        - src/Entity/AffectationProjet.php
        - src/Entity/EvaluationPartTime.php
        - src/Entity/Equipe.php
        - src/Entity/MembreEquipe.php
        - src/Entity/Projet.php
        - src/Entity/Notification.php
        - src/Entity/Evenement.php
        - src/Entity/ParticipationEvenement.php
        - src/Entity/Reclamation.php
        - src/Entity/ReponseReclamation.php

        # ===== Controllers =====
        - src/Controller/AffectationProjetController.php
        - src/Controller/EvaluationPartTimeController.php
        - src/Controller/EquipeController.php
        - src/Controller/Admin/ProjetController.php
        - src/Controller/EvenementController.php
        - src/Controller/Employe/EvenementController.php
        - src/Controller/AdminReclamationController.php
        - src/Controller/EmployeReclamationController.php
        - src/Controller/FreelancerReclamationController.php

        # ===== Services =====
        - src/Service/WhatsAppService.php
        - src/Service/GitHubRepositoryService.php
        - src/Service/EvenementManager.php
        - src/Service/TicketPdfService.php
        - src/Service/PresenceMailerService.php
        - src/Service/PrioriteReclamationService.php
        - src/Service/GroqService.php

        # ===== Tests =====
        - tests/Unit/Entity/AffectationProjetTest.php
        - tests/Unit/Entity/EvaluationPartTimeTest.php
        - tests/Entity/EvenementTest.php
        - tests/Service/EvenementManagerTest.php
        - tests/Service/TicketPdfServiceTest.php
        - tests/Service/PresenceMailerServiceTest.php
        - tests/Unit/Entity/ReclamationTest.php
        - tests/Unit/Entity/ReponseReclamationTest.php

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        -
            identifier: property.unusedType
            paths:
                - src/Entity/Equipe.php
                - src/Entity/MembreEquipe.php