parameters:
    level: 8
    paths:
        - bin/
        - config/
        - public/
        - src/
        - src/Entity/Projet.php
        - src/Entity/Notification.php
        - src/Controller/Admin/ProjetController.php
        - src/Service/GitHubRepositoryService.php
        - tests/Unit

