{% extends 'front/base_front.html.twig' %}

{% block title %}Accueil - Matchup{% endblock %}

{% block body %}

<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

  <img src="{{ asset('assets/img/hero-bg.jpg') }}" alt="" data-aos="fade-in">

  <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
    <h2>Matchup</h2>
    <p>La plateforme ultime pour organiser et participer à des événements innovants.</p>
    <a href="{{ path('app_front_evenement_index') }}" class="btn-get-started">Voir les Événements</a>
  </div>

</section><!-- /Hero Section -->

{% endblock %}
